{{#*inline "effectPartial"}}
<li class="flexrow effect {{#if effect.disabled}}disabled-effect{{/if}}" data-effect-id="{{effect.id}}">
    <img src="{{effect.icon}}" alt="{{effect.label}}" class="effect-icon" />
    <span class="effect-label">{{effect.label}}</span>
    {{#if effect.origin}}
    <button type="button" class="effect-source effect-action" data-action="open-origin">
        {{effect.origin}}
    </button>
    {{else}}
    <span class="effect-source"></span>
    {{/if}}
    <span class="effect-controls">
        <button type="button" class="effect-action" data-action="toggle" data-toggle="disabled"
            data-tooltip="{{#if effect.disabled}}CSACTIVEEFFECTS.EffectEnable{{else}}CSACTIVEEFFECTS.EffectDisable{{/if}}">
            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </button>
        <button type="button" class="effect-action" data-action="edit" data-tooltip="CSACTIVEEFFECTS.EffectEdit">
            <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="effect-action" data-action="delete" data-tooltip="CSACTIVEEFFECTS.EffectDelete">
            <i class="fas fa-trash"></i>
        </button>
    </span>
</li>
{{/inline}}

<div class='tab effects' data-group='primary' data-tab='effects'>
    <div class="flexrow" style="display: grid; grid-template-columns: 70% 30%;">
        <div></div>
        <div class="effect-add">
            <button class='add-effect'>
                <i class='fa-solid fa-plus'></i>{{localize 'CSACTIVEEFFECTS.ActiveEffects.Add'}}
            </button>
        </div>
    </div>
    <div class="flexrow">
        <ol class="effects-list">
            <li class="effect flexrow effect-header">
                <div class="effect-label">{{localize 'CSACTIVEEFFECTS.EffectsTemporary'}}</div>
                <div class="effect-source">{{localize "CSACTIVEEFFECTS.ActiveEffects.Source"}}</div>
                <div class="effect-controls"></div>
            </li>
            {{#each sheetEffects.temporary}}{{> effectPartial effect=this}}{{/each}}
        </ol>
    </div>
    <div class="flexrow">
        <ol class="effects-list">
            <li class="effect flexrow effect-header">
                <div class="effect-label">{{localize 'CSACTIVEEFFECTS.EffectsPermanent'}}</div>
                <div class="effect-source">{{localize "CSACTIVEEFFECTS.ActiveEffects.Source"}}</div>
                <div class="effect-controls"></div>
            </li>
            {{#each sheetEffects.permanent}}{{> effectPartial effect=this}}{{/each}}
        </ol>
    </div>
</div>