{{#*inline "effectPartial"}}
<li class="item effect flexrow" data-effect-id="{{effect.id}}" draggable="true">
    <h4 class="item-name effect-name flexrow">
        <img class="item-image effect-image" src="{{effect.image}}" alt="{{effect.name}}"/>
        {{effect.name}}
    </h4>
    <div class="effect-source">
        {{#if effect.origin}}
        <a class="effect-source effect-open-origin" title="{{localize 'CSACTIVEEFFECTS.OpenOrigin'}}">
            {{effect.origin}}
        </a>    
        {{/if}}
    </div>
    <div class="item-controls effect-controls">
        <a class="item-control effect-toggle{{#if effect.noToggleDelete}} disabled{{/if}}" data-action="toggle" data-toggle="disabled" title="{{#if effect.disabled}}{{localize 'CSACTIVEEFFECTS.EffectEnable'}}{{else}}{{localize 'CSACTIVEEFFECTS.EffectDisable'}}{{/if}}">
            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
        <a class="item-control effect-edit" data-action="edit" title="{{#if effect.canEdit}}{{localize 'CSACTIVEEFFECTS.EffectEdit'}}{{else}}{{localize 'CSACTIVEEFFECTS.EffectView'}}{{/if}}">
            <i class="fas fa-file-alt"></i>
        </a>
        <a class="item-control effect-delete{{#if effect.noToggleDelete}} disabled{{/if}}" data-action="delete" title="{{localize 'CSACTIVEEFFECTS.EffectDelete'}}">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</li>
{{/inline}}

<div class='tab effects' data-group='primary' data-tab='effects'>
    <div class="flexrow effects-topbuttons">
        <div class="effect-add">
            <button type="button" class='add-effect'>
                <i class='fa-solid fa-plus'></i>{{localize 'CSACTIVEEFFECTS.ActiveEffects.Add'}}
            </button>
        </div>
    </div>
    <div class="flexrow">
        <ol class="items-list effects-list">
            <li class="item-header item effect flexrow">
                <div class="item-name effect-name">{{localize 'CSACTIVEEFFECTS.EffectsTemporary'}}</div>
                <div class="effect-source">{{localize "CSACTIVEEFFECTS.ActiveEffects.Source"}}</div>
                <div class="effect-controls"></div>
            </li>
            {{#each sheetEffects.temporary}}{{> effectPartial effect=this}}{{/each}}
        </ol>
    </div>
    <div class="flexrow">
        <ol class="items-list effects-list">
            <li class="item-header item effect flexrow">
                <div class="item-name effect-name">{{localize 'CSACTIVEEFFECTS.EffectsPermanent'}}</div>
                <div class="effect-source">{{localize "CSACTIVEEFFECTS.ActiveEffects.Source"}}</div>
                <div class="effect-controls"></div>
            </li>
            {{#each sheetEffects.permanent}}{{> effectPartial effect=this}}{{/each}}
        </ol>
    </div>
    <div class="flexrow">
        <ol class="items-list effects-list">
            <li class="item-header item effect flexrow">
                <div class="item-name effect-name">{{localize 'CSACTIVEEFFECTS.EffectsInactive'}}</div>
                <div class="effect-source">{{localize "CSACTIVEEFFECTS.ActiveEffects.Source"}}</div>
                <div class="effect-controls"></div>
            </li>
            {{#each sheetEffects.inactive}}{{> effectPartial effect=this}}{{/each}}
        </ol>
    </div>
</div>