.cyphersystem .effects.active .effect {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
}

.cyphersystem .effects-list .effect .effect-image {
    margin-left: -24px;
    border: none;
    flex: 0 0 3em;
    height: 1em;
}

.cyphersystem .effects.active .effect-source {
    text-align: center
}